<o-form-Layout-manager attr="User" mode="tab" title="USER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="UserTable" 
            service="User" 
            entity="User" 
            title="USER"
            keys="id"
            columns="username;email;id" 
            header-actions="R;D"
            visible-columns="username;email;id"  
            sort-columns="username" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #username attr="username" title=" username*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #email attr="email" title="email" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-Layout-manager>