<o-form-layout-manager attr="ControlledRegulatedGood" mode="tab" title="CONTROLLEDREGULATEDGOOD">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ControlledRegulatedGoodTable" 
            service="ControlledRegulatedGood" 
            entity="ControlledRegulatedGood" 
            title="CONTROLLEDREGULATEDGOOD"
            keys="id"
            columns="description;govt_dept_id;category;hs_code;clvs_reason;id" 
            header-actions="R;D"
            visible-columns="description;govt_dept_id;category;hs_code;clvs_reason;id"  
            sort-columns="description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #description attr="description" title=" description" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="govt_dept_id" title="govt_dept_id">
    <o-table-cell-renderer-service attr="govt_dept_id" 
        service="GovtDept" entity="GovtDeptType" columns="id;name"
        parent-keys="id:govt_dept_id"
        value-column="name" keys="govt_dept_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #category attr="category" title="category" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #hs_code attr="hs_code" title="hs_code" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #clvs_reason attr="clvs_reason" title="clvs_reason" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>