<o-form-layout-manager attr="SysConfig" mode="dialog" title="SYSCONFIG">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SysConfigTable" 
            service="SysConfig" 
            entity="SysConfig" 
            title="SYSCONFIG"
            keys="id"
            columns="name;discount_rate;tax_rate;notes;id" 
            header-actions="R;D"
            visible-columns="name;discount_rate;tax_rate;notes;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #discount_rate attr="discount_rate" title="discount_rate" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #tax_rate attr="tax_rate" title="tax_rate" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>