<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Item_form_edit" 
        service="Item" 
        entity="Item" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="order_id"
        service="Order" 
        entity="OrderType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;order_id;id" 
        title="order_id"
        visible-columns="id;id" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="product_id"
        service="Product" 
        entity="ProductType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;product_id;name" 
        title="product_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-integer-input #quantity attr="quantity" label="quantity" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-real-input #unit_price attr="unit_price" label="unit_price" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
      <o-currency-input #amount attr="amount" title="amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>