.DS_Store
/build/
/dist/
/.eggs/
**/__pycache__
*.egg-info
venv/
venv_x/
venv_z/
/tests/models.yaml
/tests/build_and_test/env.py
/api_logic_server_cli/api_logic_server_info.yaml
.idea/ApiLogicServer.iml
/api_logic_server_cli/create_from_model/safrs-react-admin-npm-build
/api_logic_server_cli/ApiLogicProject
/api_logic_server_cli/test*
