recursive-include api_logic_server_cli/prototypes *.*
recursive-include api_logic_server_cli/sqlacodegen_wrapper *.*
recursive-include api_logic_server_cli/create_from_model *.*
recursive-include api_logic_server_cli/database *.*
recursive-include api_logic_server_cli/templates *.*
# recursive-include api_logic_server_cli/docs *.*
recursive-include api_logic_server_cli/fragments *.*
include api_logic_server_cli/api_logic_server_info.yaml
# include api_logic_server_cli/login_endpoint.txt
include api_logic_server_cli/logging.yml
prune **/__pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude *~
global-exclude *.so
global-exclude *.egg-info

# Exclude large files that shouldn't be in release
global-exclude *.js.map
global-exclude *.zip
global-exclude .DS_Store
