recursive-include api_logic_server_cli/project_prototype *.*
recursive-include api_logic_server_cli/project_prototype_nw *.*
recursive-include api_logic_server_cli/project_prototype_nw_no_cust *.*
recursive-include api_logic_server_cli/project_prototype_allocation *.*
recursive-include api_logic_server_cli/project_tutorial *.*
recursive-include api_logic_server_cli/sqlacodegen_wrapper *.*
recursive-include api_logic_server_cli/create_from_model *.*
recursive-include api_logic_server_cli/database *.*
recursive-include api_logic_server_cli/templates *.*
recursive-include api_logic_server_cli/docs *.*
recursive-include api_logic_server_cli/fragments *.*
include api_logic_server_cli/api_logic_server_info.yaml
include api_logic_server_cli/login_endpoint.txt
include api_logic_server_cli/logging.yml
