recursive-include api_logic_server_cli/prototypes *.*
recursive-include api_logic_server_cli/sqlacodegen_wrapper *.*
recursive-include api_logic_server_cli/create_from_model *.*
recursive-include api_logic_server_cli/database *.*
recursive-include api_logic_server_cli/templates *.*
# recursive-include api_logic_server_cli/docs *.*
recursive-include api_logic_server_cli/fragments *.*
include api_logic_server_cli/api_logic_server_info.yaml
# include api_logic_server_cli/login_endpoint.txt
include api_logic_server_cli/logging.yml
recursive-exclude __pycache__ *.*
