<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Customer_form_edit" 
        service="Customer" 
        entity="Customer" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-real-input #credit_limit attr="credit_limit" label="credit_limit" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
      <o-currency-input #balance attr="balance" title="balance" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ORDER-customer_id">
    <div layout-padding>
      <o-table 
        attr="OrderTable" 
        service="Order" 
        entity="Order" 
        keys="id"
        parent-keys="customer_id:id"
        columns="id;customer_id;amount_total;notes;date_shipped"  
        horizontal-scroll="yes"
        detail-form-route="Order" 
        edit-form-route="Order"
        visible-columns="id;customer_id;amount_total;notes;date_shipped"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #amount_total attr="amount_total" title="amount_total" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #date_shipped attr="date_shipped" title="date_shipped" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>