<o-form-layout-manager attr="Order" mode="tab" title="ORDER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="OrderTable" 
            service="Order" 
            entity="Order" 
            title="ORDER"
            keys="id"
            columns="id;customer_id;amount_total;notes;date_shipped" 
            header-actions="R;D"
            visible-columns="id;customer_id;amount_total;notes;date_shipped"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #amount_total attr="amount_total" title="amount_total" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #date_shipped attr="date_shipped" title="date_shipped" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>