<o-form-layout-manager attr="Order" mode="dialog" title="ORDER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="OrderTable" 
            service="Order" 
            entity="Order" 
            title="ORDER"
            keys="id"
            columns="id;notes;customer_id" 
            header-actions="R;D"
            visible-columns="id;notes;customer_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #customer_id attr="customer_id" title="customer_id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>