<div class="container">
  <o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
    <o-form #yamlFile attr="DownloadYamlFiles_form_edit" service="YamlFiles" entity="YamlFiles" fxLayout="column" show-header="yes"
      header-actions="R;U" columns="name;size;upload_flag;download_flag;content" #oDetailForm keys="name"
      keys-sql-types="VARCHAR" after-update-mode="home" show-header-navigation="yes"
      (onDataLoaded)="onDataLoaded($event)">

        <!-- o-button o-grid-toolbar position="end" (click)="process_yaml()" label="Process Yaml (reload all entities, attributes, relationships)" type="STROKED"
          icon="upload_file" fxFlex="80%"></o-button -->
        <o-button o-grid-toolbar position="end" (click)="download_yaml()" 
        label="4. Download Yaml (after 3. editing, the download content below can be merged into your app_model.yaml)"
        icon="download_file"></o-button>
        <o-button o-grid-toolbar position="end" (click)="reload_yaml()" label="2. Reload Yaml from downloaded content (loads all entities, attributes, relationships)" type="STROKED"
        icon="upload_file"></o-button>
  
      <o-row attr="row1" layout-align="start stretch">
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">

            <o-text-input attr="name" label=" name*" enabled="no" required="yes" fxFlex="20%"
              class="form-field"></o-text-input>
            <o-text-input attr="size" label=" Size" enabled="no" required="no" fxFlex="20%"
              class="form-field"></o-text-input>
            <!-- o-checkbox attr="upload_flag" label="Yaml file Processed" tooltip="import to ui/app_model.yaml"
              enabled="no" required="no" fxFlex="20%" class="form-field"></o-checkbox -->
            <!-- o-checkbox attr="download_flag" label="Downloaded Yaml file" tooltip="exported to ui/admin_model_merge.yaml or cut and paste"
              enabled="{% now '' %}" required="no" fxFlex="20%" class="form-field"></o-checkbox -->
            <!-- a href="/download/yamlfile" download="app_model_merge.yaml">Download link</a -->
            <!-- o-textarea-input attr="content" label="Original Content" [data]="getContent()" read-only="true" rows="30"
              content-align="left" fxFlex="40%" class="form-field"></o-textarea-input -->
            <o-textarea-input #downloaded attr="downloaded" label="Downloaded Content" [data]="getConverted()" read-only="true"
              rows="30" content-align="left" fxFlex="60%" class="form-field"></o-textarea-input>
            <!-- -text-input attr="id" label=" Id*" type="INTEGER" enabled="no" required="yes" fxFlex="20%"
              class="form-field"></o-text-input -->

    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>