<div class="container">

  <o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
    <o-form #form attr="Entity_form_edit" service="Entity" entity="Entity" fxLayout="column" show-header="yes"
      header-actions="R;U;D" #oDetailForm keys="name" keys-sql-types="VARCHAR" show-header-navigation="yes"
      (onDataLoaded)="onDataLoaded($event)">

      <o-row attr="row1" layout-align="start stretch">
        <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="name" label=" Entity Name*" enabled="no" required="yes"></o-text-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="title" label="Title" editable="yes" required="no"></o-text-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="pkey" label="Primary Key" enabled="no" required="no"></o-text-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="favorite" label="favorite" editable="yes" required="no"></o-text-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="menu_group" label="Menu Group" editable="yes" required="no"></o-text-input>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="mode" label="mode" editable="yes" tooltip="tab or dialog style"
              required="no"></o-text-input>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="detail_template" label="Detail Template" editable="yes" tooltip="Detail template"
              required="no"></o-text-input>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="new_template" label="New Template" editable="yes" tooltip="new template"
              required="no"></o-text-input>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-text-input attr="home_template" label="Home Template" editable="yes" tooltip="home template"
              required="no"></o-text-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-textarea-input attr="info_list" label="info_list" enabled="true" read-only="false"></o-textarea-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-textarea-input attr="info_show" label="info_show" enabled="true" read-only="false"></o-textarea-input>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            <o-checkbox attr="exclude" label="exclude" read-only="no" enabled="yes"></o-checkbox>
          </div>
          <!-- div fxLayout="row" fxLayoutAlign="start center">
              <o-button #button attr="button" label="Show/Hide Attributes" icon="description" (onClick)="showHideColumns()" tooltip="Arrange columns and hide/show columns"></o-button>
          </div -->
        </div>
      </o-row>

      <mat-tab-group fxFill>

        <mat-tab label="Attributes">
          <div layout-padding>
            <o-table attr="EntityAttrTable" service="EntityAttr" entity="EntityAttr" keys="entity_name;attr"
              parent-keys="entity_name:name"
              columns="entity_name;template_name;attr;label;issearch;issort;thistype;tooltip;exclude;isrequired;isenabled;visible"
              horizontal-scroll="yes" detail-form-route="EntityAttr" edit-form-route="EntityAttr"
              visible-columns="attr;template_name;label;issearch;issort;thistype;tooltip;exclude;isrequired;isenabled;visible"
              sort-columns="entity_name" query-rows="25" quick-filter="yes" row-height="medium"
              select-all-checkbox="true" pageable="yes" auto-adjust="true" virtual-scroll="yes" insert-button="yes"
              delete-button="yes" fixed-header="true" class="vertical-padding-8" edition-mode="click"
              horizontal-scroll="yes" class="fill-form">
              <!-- parent-keys="entity_name;entity_name" -->

              <o-table-column attr="attr" title="Attribute*" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="template_name" title="Template" editable="no" required="no"
                content-align="left"></o-table-column>

              <o-table-column attr="label" title="Label" editable="no" required="no"
                content-align="left"></o-table-column>

              <o-table-column attr="issearch" title="Search" editable="no" required="no" content-align="left">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>

              <o-table-column attr="issort" title="Sort" editable="no" required="no" content-align="left">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>

              <o-table-column attr="exclude" title="Excluded">
                <!-- auto-commit="false" -->
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>

              <o-table-column attr="isrequired" title="Required" editable="no" required="no" content-align="left">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>



              <o-table-column attr="isenabled" title="Enabled" editable="no" required="no" content-align="left">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>

              <o-table-column attr="visible" title="Visible" editable="no" required="no" content-align="left">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>
              <o-table-paginator page-size-options="20;40;100"></o-table-paginator>
            </o-table>
          </div>
        </mat-tab>

        <mat-tab label="TABGROUP-entity_name">
          <div layout-padding>
            <o-table attr="TabGroupTable" service="TabGroup" entity="TabGroup"
              keys="entity_name;tab_entity;direction;label" parent-keys="entity_name:name"
              columns="entity_name;tab_entity;direction;label;fkeys;exclude" horizontal-scroll="yes"
              detail-form-route="TabGroup" edit-form-route="TabGroup"
              visible-columns="tab_entity;direction;label;fkeys;exclude" sort-columns="entity_name" query-rows="8"
              quick-filter="yes" row-height="small" select-all-checkbox="true" pageable="yes" virtual-scroll="yes"
              insert-button="no" delete-button="no" fixed-header="true" class="vertical-padding-8" edition-mode="click"
              horizontal-scroll="yes">
              <!-- parent-keys="entity_name;entity_name" -->


              <o-table-column attr="tab_entity" label="Tab Entity" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="direction" label="direction" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="label" label="label" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="fkeys" label="fkeys" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="exclude" title="Excluded">
                <!-- auto-commit="false" -->
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>

            </o-table>
          </div>
        </mat-tab>

        <mat-tab label="TABGROUP-tab_entity">
          <div layout-padding>
            <o-table attr="TabGroupTable" service="TabGroup" entity="TabGroup"
              keys="entity_name;tab_entity;direction;label" parent-keys="tab_entity:name"
              columns="entity_name;tab_entity;direction;label;fkeys;exclude" horizontal-scroll="yes"
              detail-form-route="TabGroup" edit-form-route="TabGroup"
              visible-columns="tab_entity;direction;label;fkeys;exclude" sort-columns="entity_name" query-rows="8"
              quick-filter="yes" row-height="small" select-all-checkbox="true" pageable="yes" virtual-scroll="yes"
              insert-button="no" delete-button="no" fixed-header="true" class="vertical-padding-8" edition-mode="click"
              horizontal-scroll="yes">
              <!-- parent-keys="tab_entity;entity_name" -->

              <o-table-column attr="tab_entity" label="Tab Entity" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="direction" label="direction" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="label" label="label" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="fkeys" label="fkeys" editable="no" required="yes"
                content-align="left"></o-table-column>

              <o-table-column attr="exclude" title="Excluded">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                  render-type="icon" boolean-type="boolean" true-value="true"
                  false-value="false"></o-table-cell-renderer-boolean>
              </o-table-column>
            </o-table>
          </div>
        </mat-tab>

      </mat-tab-group>
    </o-form>
  </o-form-container>
</div>