import { MenuRootItem } from 'ontimize-web-ngx';
{% for import_card in import_cards %}
{{ import_card }}
{% endfor %}

export const MENU_CONFIG: MenuRootItem[] = [
  { id: 'home', name: 'HOME', icon: 'dashboard', route: '/main/home' },
  { id: 'settings', name: 'Settings', icon: 'home', route: '/main/settings'},
  {
    id: 'data', name: 'DATA_', icon: 'remove_red_eye', opened: true,
    items: [
      {% for menu_config in menu_configs %}
        {{ menu_config }}
      {% endfor %}
    ]
  },
  { id: 'about', name: 'About', icon: 'home', route: '/main/about'},
  { id: 'logout', name: 'LOGOUT', route: '/login', icon: 'power_settings_new', confirm: 'yes' }
];

export const MENU_COMPONENTS = [
      {{ menu_components }}
];
