<o-form-layout-manager attr="{{ entity}}" mode="{{ new_mode }}" title="{{ title }}">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="{{ tableAttr }}" 
            service="{{ service }}" 
            entity="{{ entity }}" 
            title="{{ title }}"
            keys="{{ keys }}"
            columns="{{ columns }}" 
            header-actions="{{ header-actions}}"
            visible-columns="{{ visibleColumns }}"  
            sort-columns="{{ sortColumns }}" 
            query-rows="{{ query-rows }}" 
            quick-filter="{{ quick-filter}}"
            row-height="{{ row_height }}" 
            select-all-checkbox="{{ select-all-checkbox }}" 
            pageable="{{ pageable }}"  
            auto-adjust="true" 
            virtual-scroll="{{ virtual-scroll }}" 
            edition-mode="{{ editOnMode }}"
            horizontal-scroll="{{ horizontal-scroll}}"
            show-title="{{ show-title}}"
            export-button="{{ export-button}}">

            {% for table_row_column in row_columns %}
                {{ table_row_column }}
            {% endfor %}
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="{{ page-size-options }}"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>
