<o-list-picker 
        attr="{{ attr }}"
        service="{{ service }}" 
        entity="{{ entity }}Type"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="{{ valueColumn }}" 
        value-column-type="{{ valueColumnType }}"  
        keys="{{ keys }}" 
        columns="{{ columns }}" 
        title="{{ title }}"
        visible-columns="{{ visibleColumns }}" 
        separator=" - " width="680px">
</o-list-picker>