import { Component } from '@angular/core';

@Component({
  selector: '{{ entity }}-new',
  templateUrl: './{{ entity }}-new.component.html',
  styleUrls: ['./{{ entity }}-new.component.scss']
})
export class {{ entity_first_cap }}NewComponent {

}
