<mat-tab label="{{ tabTitle }}">
    <div layout-padding>
      <o-table 
        attr="{{ tableAttr }}" 
        service="{{ service }}" 
        entity="{{ entity }}" 
        keys="{{ keys }}"
        columns="{{ columns }}"  
        horizontal-scroll="yes"
        detail-form-route="{{ detailFormRoute }}" 
        edit-form-route="{{ editFormRoute }}"
        visible-columns="{{ visibleColumns }}"  
        sort-columns="{{ sortColumns }}" 
        query-rows="8" 
        quick-filter="yes"
        row-height="small" 
        select-all-checkbox="true" 
        pageable="yes"  
        virtual-scroll="yes" 
        insert-button="no" 
        delete-button="no" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="click" 
        horizontal-scroll="yes">
        <!-- parent-keys="{{ parentKeys }}" -->
        {% for table_column in row_columns %}
        {{ table_column }}
        {% endfor %}
      </o-table>
    </div>
</mat-tab>