<mat-tab label="{{ title }}">
    <o-form attr="{{ entity }}_form_edit" service="{{ service }}" entity="{{ entity }}" fxLayout="column" show-header="no" keys="{{ keys }}"
      keys-sql-types="{{ attrType }}">
      <o-table #{{ entity }}Table attr="{{ entity }}" service="{{ service }}" entity="{{ entity }}" parent-keys="{{ parentKey }}" keys="{{ keys }}"
        detail-form-route="{{ detailFormRoute }}" edit-form-route="{{ editFormRoute }}"
        columns="{{ columns }}"
        visible-columns="{{ columns }}" title="{{ title }}" sort-columns="{{ sortColumn }}" query-on-init="false" query-rows="6"
        quick-filter="yes" pageable="no" insert-button="no" row-height="medium" class="vertical-padding-8">
        {% for inputrow in row_columns %}
        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
            {{ inputrow }}
        </div>
      {% endfor %}
      </o-table>
    </o-form>
  </mat-tab>