<mat-tab label="{{ title }}">
  <o-form #form attr="{{ entity }}_form_edit" service="{{ service }}" entity="{{ entity }}" fxLayout="column" show-header="no"
        #oDetailForm keys="{{ keys }}" keys-sql-types="{{ keySqlType }}" columns="{{ columns }}" show-header-navigation="no"
        (onDataLoaded)="onDataLoaded($event)">

    <div layout-padding>
      <o-table #{{ entity }}Table attr="{{ entity }}-tab" service="{{ service }}" entity="{{ entity }}" 
        parent-keys="{{ parentKeys }}" keys="{{ keys }}"
        detail-form-route="{{ detailFormRoute }}" edit-form-route="{{ editFormRoute }}"
        columns="{{ columns }}" 
        visible-columns="{{ columns }}" title="{{ title }}" sort-columns="{{ sortColumn }}" query-on-init="false" query-rows="6"
        quick-filter="yes" pageable="no" insert-button="no" row-height="medium" 
        insert-button="false" delete-button="false" fixed-header="true" class="vertical-padding-8">
        {% for table_column in row_columns %}
            {{ table_column }}
        {% endfor %}
      </o-table>
    </div>
  </o-form>
</mat-tab>