<mat-tab label="{{ tabTitle }}">
    <div layout-padding>
      <o-table 
        attr="{{ tableAttr }}" 
        service="{{ service }}" 
        entity="{{ entity }}" 
        keys="{{ keys }}"
        parent-keys="{{ parentKeys }}"
        columns="{{ columns }}"  
        horizontal-scroll="yes"
        detail-form-route="{{ detailFormRoute }}" 
        edit-form-route="{{ editFormRoute }}"
        visible-columns="{{ visibleColumns }}"  
        sort-columns="{{ sortColumns }}" 
        query-rows="25" 
        quick-filter="yes"
        row-height="{{ row_height }}" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        {% for table_column in row_columns %}
          {{ table_column }}
        {% endfor %}
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
