<div class="full-page">
  <div class="login-outer-container">

    <div class="login-bg-container">
    </div>

    <div class="wrapp-login">
      <div fxFill fxLayout="column" fxLayoutAlign="center center" class="login-inner-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="login-title-container" fxLayout="column">
            <p class="session-expired text" *ngIf="sessionExpired">{{ 'ERROR_SESSION_EXPIRED' | oTranslate }}</p>
            <span class="title_text">{{ 'LOGIN_TITLE' | oTranslate }}:</span>
          </div>

          <div fxLayout="column" fxLayoutGap="10px">
            <mat-form-field fxFill class="m-top-24">
              <input matInput class="mat-input" #user placeholder="{{ 'USERNAME' | oTranslate }}" id="username" [formControl]="userCtrl">
              <mat-error *ngIf="userCtrl.hasError('required')">
                {{ 'ERROR_USER_REQUIRED' | oTranslate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFill class="m-top-24">
              <input matInput class="mat-input" #password placeholder="{{ 'PASSWORD' | oTranslate }}" id="password" type="password"
                [formControl]="pwdCtrl">
              <mat-error *ngIf="pwdCtrl.hasError('required')">
                {{ 'ERROR_PASS_REQUIRED' | oTranslate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="m-top-24">
            <mat-checkbox class="text">{{ 'REMEMBER_ME' | oTranslate }}</mat-checkbox>
          </div>

          <button mat-raised-button color="primary" type="submit">{{ 'LOGIN' | oTranslate }}</button>
          <div layout-padding></div>
          <div layout-padding></div>
          <div fxLayout="column" fxLayoutAlign="center center" layout-padding>
            <span class="login_info">{{ 'EXAMPLE_LOGIN_INFO' | oTranslate }}:</span>
            <span class="dark_text">{{ 'USERNAME' | oTranslate }} : demo</span>
            <span class="dark_text">{{ 'PASSWORD' | oTranslate }} : demouser</span>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div id="footer" class="footer-container">
    <div fxLayout="row" fxLayoutAlign="end center">
      <span>{{ 'FOOTER_CREATED_BY' | oTranslate }}</span>
      <span> &copy; 2021 </span>
      <span>{{ 'FOOTER_RIGHTS' | oTranslate }}</span>
    </div>
  </div>

</div>
