<div class="container">
    <o-form editable-detail="no" show-header="no" layout-align="start stretch" class="{{ entity }}-form" fxFill>
        <div fxLayout="column" fxFlex="1 1 auto">
            <o-grid #grid attr="{{ attr }}" service="{{ service }}" entity="{{ entity }}"
            columns="{{ columns }}"
            quick-filter-columns="{{ columns }}" keys="{{ keys }}" sort-columns="{{ sortColumns }}"
            pageable="yes" query-rows="16" fixed-header="yes" refresh-button="no" gutter-size="18px" detail-mode="none">
            <div fxLayout="column" fxLayoutAlign="start center" class="{{ entity }}-data">
                <o-grid-item *ngFor="let item of grid.dataArray">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="{{ entity }}-item mat-elevation-z1">
                        <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
                        <mat-divider fxFlex></mat-divider>
                        <div class="image">
                            <!-- img [src]="getImageSrc(item.{{ imageAttr }})" -->
                        </div>
                        <mat-divider fxFlex></mat-divider>
                        </div>
                    
                        <div fxLayout="column" fxLayoutAlign="start center" class="{{ entity }}-data">
                        
                        {% for item in grid_items %}
                        <span>item.{{ item }}</span>
                        {% endfor %}
                        </div>
                    </div>
                    </o-grid-item>
            </div>
        </o-grid>
        </div>
    </o-form>
</div>