<o-form attr="{{ entity}}" mode="{{ new_mode }}" title="{{ title }}" class="fill-form">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="{{ tableAttr }}" 
            service="{{ service }}" 
            entity="{{ entity }}" 
            title="{{ title }}"
            keys="{{ keys }}"
            columns="{{ columns }}" 
            header-actions="R;D"
            visible-columns="{{ visibleColumns }}"  
            sort-columns="{{ sortColumns }}" 
            query-rows="20" 
            quick-filter="yes"
            row-height="{{ row_height }}" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="{{ editOnMode }}"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            {% for table_row_column in row_columns %}
            {{ table_row_column }}
            {% endfor %}
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form>
