import { Component, Injector } from '@angular/core';
import { NavigationService } from 'ontimize-web-ngx';

@Component({
  selector: '{{ entityName }}-new',
  templateUrl: './{{ entityName }}-new.component.html',
  styleUrls: ['./{{ entityName }}-new.component.scss']
})
export class {{ entity_first_cap }}NewComponent {
  constructor(protected injector: Injector) {
    this.injector.get(NavigationService).initialize();
  }
}
