<o-form #ShipmentPartyForm attr="ShipmentParty_form_insert" service="ShipmentParty" entity="ShipmentParty"
keys="shipment_party_oid_nbr" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #shipment_party_oid_nbr attr="shipment_party_oid_nbr" label=" shipment_party_oid_nbr" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="local_piece_oid_nbr"
        service="Piece" 
        entity="PieceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="local_piece_oid_nbr" 
        value-column-type="INTEGER"  
        keys="local_piece_oid_nbr" 
        columns="local_piece_oid_nbr;local_piece_oid_nbr;local_piece_oid_nbr" 
        title="local_piece_oid_nbr"
        visible-columns="local_piece_oid_nbr;local_piece_oid_nbr" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="local_shipment_oid_nbr"
        service="Shipment" 
        entity="ShipmentType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="local_shipment_oid_nbr" 
        value-column-type="INTEGER"  
        keys="local_shipment_oid_nbr" 
        columns="local_shipment_oid_nbr;local_shipment_oid_nbr;local_shipment_oid_nbr" 
        title="local_shipment_oid_nbr"
        visible-columns="local_shipment_oid_nbr;local_shipment_oid_nbr" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-integer-input #address_qty attr="address_qty" label="address_qty" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #city_nm attr="city_nm" label="city_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #contact_phone_nbr attr="contact_phone_nbr" label="contact_phone_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #customer_acct_nbr attr="customer_acct_nbr" label="customer_acct_nbr" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #customs_self_assessment_flg attr="customs_self_assessment_flg" label="customs_self_assessment_flg" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #company_nm attr="company_nm" label="company_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #contact_nm attr="contact_nm" label="contact_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #email_nm attr="email_nm" label="email_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #last_modified_nm attr="last_modified_nm" label="last_modified_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #last_modified_tmstp attr="last_modified_tmstp" value-type="string" label="last_modified_tmstp" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #etl_tmstp attr="etl_tmstp" value-type="string" label="etl_tmstp" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #csa_business_nbr attr="csa_business_nbr" label="csa_business_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #split_seq_nbr attr="split_seq_nbr" label="split_seq_nbr" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #business_nbr attr="business_nbr" label="business_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #cfia_payor_nm attr="cfia_payor_nm" label="cfia_payor_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #cfia_account_nbr attr="cfia_account_nbr" label="cfia_account_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #fax_nbr attr="fax_nbr" label="fax_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #additional_contact_flg attr="additional_contact_flg" label="additional_contact_flg" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #shipment_party_type_cd attr="shipment_party_type_cd" label="shipment_party_type_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #clearance_location_cd attr="clearance_location_cd" label="clearance_location_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #broker_id_cd attr="broker_id_cd" label="broker_id_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #country_cd attr="country_cd" label="country_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #country_sub_entity_cd attr="country_sub_entity_cd" label="country_sub_entity_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #customs_id_cd attr="customs_id_cd" label="customs_id_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #postal_cd attr="postal_cd" label="postal_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #state_cd attr="state_cd" label="state_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #shipment_type_cd attr="shipment_type_cd" label="shipment_type_cd" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #piece_shpmt_type_cd attr="piece_shpmt_type_cd" label="piece_shpmt_type_cd" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #pref_cont_mthd_cd attr="pref_cont_mthd_cd" label="pref_cont_mthd_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>