<o-form-layout-manager attr="Customer" mode="tab" title="CUSTOMER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CustomerTable" 
            service="Customer" 
            entity="Customer" 
            title="CUSTOMER"
            keys="id"
            columns="name;email;join_date;id" 
            header-actions="R;D"
            visible-columns="name;email;join_date;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #email attr="email" title="email" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-date-input #join_date attr="join_date" type="date" label="join_date" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>