<o-form-layout-manager attr="YamlFiles" mode="tab" title="4. Download Yaml File" class="fill-form">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="YamlFilesTable" 
            service="YamlFiles" 
            entity="YamlFiles" 
            title="{{ 'Download Yaml File' | oTranslate }}"
            keys="name"
            columns="name;size;upload_flag;download_flag" 
            header-actions="R;D"
            visible-columns="name;size;upload_flag;download_flag"  
            sort-columns="name" 
            show-new-button="no"
            query-rows="40" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="false" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="click"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="no">
            
            <o-table-column attr="name" title=" Name*" editable="no" required="yes" content-align="left"></o-table-column>
            <o-integer-input attr="size" title=" Size" editable="no" required="yes" content-align="left"></o-integer-input>
            <o-table-column attr="upload_flag" title="Process Yaml Flag">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                    render-type="icon" boolean-type="boolean" true-value="1" false-value="0"></o-table-cell-renderer-boolean>
            </o-table-column>
            <o-table-column attr="download_flag" title="Download Flag">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                    render-type="icon" boolean-type="boolean" true-value="1" false-value="0"></o-table-cell-renderer-boolean>
            </o-table-column>

            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>