
        """        
        accrue results for dashboard query  
        """
            
        from database.models import {{classes_used}}
        db = safrs.DB
        session = db.session    # sqlalchemy.orm.scoping.scoped_session
        # Security.set_user_sa()  # an endpoint that requires no auth header (see also @bypass_security)

        # SQLAlchemy query
        query = {{sqlalchemy_query}} 
        # Execute query and fetch results
        results = query.all()
        from decimal import Decimal
        columns = ['RegionDescription', 'TotalSales']  # {{ xAxis }} {{ yAxis }}
        results = [{columns[0]: row[0], columns[1]: str(Decimal(row[1]).quantize(Decimal('0.01')))} for row in results]
        title = "Sales by Region" # {{ title }}
        chart_type = 'bar' # {{ chart_type }}
        json_results = {
            "results": results,
            "columns": columns,
            "title": title,
            "chart_type": "bar",
            "xAxis": columns[0],
            "yAxis": columns[1],
        }
        
        dashboard_result['dashboard'].append(json_results)

