<div fxLayout="column" fxLayoutAlign="end center" fxFill>
  <img src="assets/images/ontimize_web_log.png">
  <span class="info">Web application framework based on Angular for building business software.</span>
  <mat-divider></mat-divider>
  <span class="info">ontimize-web@imatia.com</span>

  <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="info-container">

    <div fxLayout="row" fxLayoutAlign="end stretch" fxFlex>
      <div fxLayout="column" fxLayoutAlign="start center">
        <span class="info-title">Links:</span>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" class="links" fxFlex>
          <a href="https://github.com/OntimizeWeb" aria-label="GitHub Repository" target="_blank">
            <img src="./assets/images/github.png" class="mat-icon">Ontimize GitHub Repository
          </a>
          <a href="https://ontimizeweb.github.io/docs/" aria-label="OntimizeWeb Docs" target="_blank">
            <img src="./assets/images/ontimize.png" class="mat-icon">OntimizeWeb Docs
          </a>
          <a href="https://apilogicserver.github.io/Docs/App-Custom-Ontimize-Overview/" aria-label="ApiLogicServer Docs" target="_blank">
            <img src="./assets/images/ontimize.png" class="mat-icon">ApiLogicServer Docs
          </a>
          <a href="https://github.com/tylerm007/ontimize_yaml_view" aria-label="Yaml file editor Docs" target="_blank">
            <img src="./assets/images/github.png" class="mat-icon">Ontimize Yaml File Editor Repository
          </a>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <div fxLayout="column" fxLayoutAlign="center start" class="dependencies" fxFlex>
        <span class="info-title">OntimizeWeb modules:</span>
        <span>ontimize-web-ngx@{{ vCore }}</span>
        <span>ontimize-web-ngx-charts@{{ vCharts }}</span>
        <span>ontimize-web-ngx-filemanager@{{ vFilemanager }}</span>
        <span>ontimize-web-ngx-map@{{ vMap }}</span>
        <span>ontimize-web-ngx-report@{{ vReport }}</span>
      </div>
    </div>

  </div>

</div>
