<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="GovtDept_form_edit" 
        service="GovtDept" 
        entity="GovtDept" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #authority attr="authority" label="authority" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="CONTROLLEDREGULATEDGOOD-govt_dept_id">
    <div layout-padding>
      <o-table 
        attr="ControlledRegulatedGoodTable" 
        service="ControlledRegulatedGood" 
        entity="ControlledRegulatedGood" 
        keys="id"
        parent-keys="govt_dept_id:id"
        columns="description;govt_dept_id;category;hs_code;clvs_reason;id"  
        horizontal-scroll="yes"
        detail-form-route="ControlledRegulatedGood" 
        edit-form-route="ControlledRegulatedGood"
        visible-columns="description;govt_dept_id;category;hs_code;clvs_reason;id"  
        sort-columns="description" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #description attr="description" title=" description" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="govt_dept_id" title="govt_dept_id">
    <o-table-cell-renderer-service attr="govt_dept_id" 
        service="GovtDept" entity="GovtDeptType" columns="id;name"
        parent-keys="id:govt_dept_id"
        value-column="name" keys="govt_dept_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #category attr="category" title="category" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #hs_code attr="hs_code" title="hs_code" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #clvs_reason attr="clvs_reason" title="clvs_reason" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>