import { MenuRootItem } from 'ontimize-web-ngx';
{% for card_item in import_cards %}
{{ card_item }}
{% endfor %}

export const MENU_CONFIG: MenuRootItem[] = [
    { id: 'home', name: 'HOME', icon: 'home', route: '/main/home' },
    {% for menu_group in menu_groups %}
    {{ menu_group }}
    {% endfor %}
    { id: 'settings', name: 'Settings', icon: 'settings', route: '/main/settings'}
    ,{ id: 'about', name: 'About', icon: 'info', route: '/main/about'}
    ,{ id: 'logout', name: 'LOGOUT', route: '/login', icon: 'power_settings_new', confirm: 'yes' }
];

export const MENU_COMPONENTS = [
{% for card_component in card_components %}
    {{ card_component }}
{% endfor %}
];