<o-form attr="Template" mode="dialog" title="{{ 'TEMPLATE' | oTranslate }}">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table attr="TemplateTable" service="Template" entity="Template" keys="name" columns="name;description"
            header-actions="R;D" visible-columns="name;description" sort-columns="name" query-rows="20" show-header="yes"
            quick-filter="yes" row-height="small" select-all-checkbox="true" pageable="yes" virtual-scroll="yes"
            edition-mode="click" horizontal-scroll="yes" export-button="yes">

            <o-table-column attr="name" title=" Name*" editable="no" required="yes"
                content-align="left"></o-table-column>

            <o-table-column attr="description" title="Template" editable="no" required="no"
                content-align="left"></o-table-column>

            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="48;96;128"></o-table-paginator>
        </o-table>
    </div>
</o-form>