<o-form #CcpCustomerForm attr="CcpCustomer_form_insert" service="CcpCustomer" entity="CcpCustomer"
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #name attr="name" label=" name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #address1 attr="address1" label="address1" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #address2 attr="address2" label="address2" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #city attr="city" label="city" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #state attr="state" label="state" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #country attr="country" label="country" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #postal attr="postal" label="postal" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #business_nbr attr="business_nbr" label="business_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #gst_reg attr="gst_reg" label="gst_reg" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #duty_bill_to_acct_nbr attr="duty_bill_to_acct_nbr" label="duty_bill_to_acct_nbr" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #payor_location attr="payor_location" label="payor_location" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #weight attr="weight" label="weight" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #export_country attr="export_country" label="export_country" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #foreign_trade_zone attr="foreign_trade_zone" label="foreign_trade_zone" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #discounts attr="discounts" label="discounts" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #last_modified_nm attr="last_modified_nm" label="last_modified_nm" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #data_form attr="data_form" label="data_form" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #profile_ref_nbr attr="profile_ref_nbr" label="profile_ref_nbr" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #po_box attr="po_box" label="po_box" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #phone_nbr attr="phone_nbr" label="phone_nbr" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #duty_bill_to_cd attr="duty_bill_to_cd" label="duty_bill_to_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #customeroid attr="customeroid" label="customeroid" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #dpi attr="dpi" label="dpi" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #broker_cd attr="broker_cd" label="broker_cd" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #rod attr="rod" label="rod" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>