import { Component, ViewEncapsulation } from '@angular/core';

@Component({
  selector: 'transactions-card',
  templateUrl: './{{ entityName }}-card.component.html',
  styleUrls: ['./{{ entityName }}-card.component.scss'],
  encapsulation: ViewEncapsulation.None,
  host: {
    '[class.{{ entityName }}-card]': 'true'
  }
})

export class {{ entity_first_cap }}CardComponent {


}
