import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { {{ entity_first_cap }}HomeComponent } from './home/{{ entity }}-home.component';
import { {{ entity_first_cap }}NewComponent } from './new/{{ entity }}-new.component';
import { {{ entity_first_cap }}DetailComponent } from './detail/{{ entity }}-detail.component';

const routes: Routes = [
  {path: '', component: {{ entity_first_cap }}HomeComponent,
    children: [
      { path: 'new', component: {{ entity_first_cap }}NewComponent },
      { path: ':{{ keyPath }}', component: {{ entity_first_cap }}DetailComponent,
        data: {
          oPermission: {
            permissionId: '{{ entity }}-detail-permissions'
          }
        }
      }{{ additional_routes }}
  ]}
];

export const {{ entity_upper}}_MODULE_DECLARATIONS = [
    {{ entity_first_cap }}HomeComponent,
    {{ entity_first_cap }}NewComponent,
    {{ entity_first_cap }}DetailComponent 
];


@NgModule({
  imports: [RouterModule.forChild(routes)],
  exports: [RouterModule]
})
export class {{ entity_first_cap }}RoutingModule { }
