<o-form #{{ entity }}Form attr="{{ entity }}_form_insert" service="{{ service }}" entity="{{ entity }}" 
keys="{{ keys }}" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    {% for row in row_columns %}
        {{ row }}
      {% endfor %}
</div>
</o-row>

<div layout-padding></div>

</o-form>
