import { Component, Injector, ViewChild } from '@angular/core';
import { NavigationService, OFormComponent } from 'ontimize-web-ngx';

@Component({
  selector: '{{ entityName }}-new',
  templateUrl: './{{ entityName }}-new.component.html',
  styleUrls: ['./{{ entityName }}-new.component.scss']
})
export class {{ entity_first_cap }}NewComponent {
  @ViewChild("{{ entity_first_cap }}Form") form: OFormComponent;
  onInsertMode() {
    const default_values = {{ defaultValues }}
    this.form.setFieldValues(default_values);
  }
  constructor(protected injector: Injector) {
    this.injector.get(NavigationService).initialize();
  }
}
