<o-breadcrumb [form]="EntityAttrForm" label-columns="" separator=" "></o-breadcrumb>
<o-form #EntityAttrForm attr="EntityAttr_form_insert" service="EntityAttr" entity="EntityAttr" keys="entity_name;attr" fxLayout="column"
        show-header="yes" header-actions="I" horizontal-scroll="yes" #oForm after-insert-mode="detail"
        class="standalone-form-container">

        <o-row attr="row1" layout-align="start stretch">
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-list-picker attr="entity_name" service="Entity" entity="EntityType" fxFlex="30"
                                        query-on-init="no" query-on-bind="yes" required="yes" enabled="yes" filter="yes"
                                        value-column="name" value-column-type="VARCHAR" keys="name" columns="name"
                                        title=" Entity Name*" visible-columns="name" separator=" - " width="680px">
                                </o-list-picker>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-text-input attr="title" label="Title" editable="yes"
                                        required="yes"></o-text-input>
                                <o-text-input attr="attr" label="Attribute" editable="yes"
                                        required="yes"></o-text-input>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-list-picker attr="template_name" service="Template" entity="TemplateType" fxFlex="30"
                                        query-on-init="no" query-on-bind="yes" required="yes" enabled="yes" filter="yes"
                                        value-column="name" value-column-type="VARCHAR" keys="name"
                                        columns="name;template_name;name;name" title="template_name"
                                        visible-columns="name;name" separator=" - " width="680px">
                                </o-list-picker>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-text-input attr="label" label="label" editable="yes" required="no"></o-text-input>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-checkbox attr="issearch" label="Search" read-only="no" enabled="yes"></o-checkbox>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-checkbox attr="issort" label="Sort" read-only="no" enabled="yes"></o-checkbox>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-text-input attr="thistype" label="DataType" editable="yes"
                                        required="yes"></o-text-input>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-textarea-input attr="tooltip" label="tooltip" enabled="true"
                                        read-only="false"></o-textarea-input>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-checkbox attr="isrequired" label="Required" read-only="no"
                                        enabled="yes"></o-checkbox>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-checkbox attr="isenabled" label="Enabled" read-only="no" enabled="yes"></o-checkbox>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-checkbox attr="visible" label="Visible" read-only="no" enabled="yes"></o-checkbox>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                                <o-checkbox attr="exclude" label="exclude" read-only="no" enabled="yes"></o-checkbox>
                        </div>
                        
                        <o-text-input attr="default_value" label="Default Value" editable="yes" required="no"></o-text-input>
                </div>
        </o-row>

        <div layout-padding></div>

</o-form>